<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>
    <h1>Hello Form</h1>
    <h4>This from will greet you presonally!</h4>
    <form action="/targil1">
        <input type="text" name="username" placeholder="First Name">
        <input type="submit">
    </form>
    <h1>Targil1</h1>
    <h4>This from will check if you are authorized</h4>
    <form action="/targil2">
        <input type="text" name="username" placeholder="First Name">
        <input type="submit">
    </form>
    <form>


    </form>
</body>

</html>